<div class="sidebar-sub-container">
    <h2 class="container-title">{{sidebar.personal.title}}</h2>
    {% if sidebar.personal.email %}
    <div class="sidebar-item">
        <i class="icon fas fa-envelope"></i>
        <a href="mailto:{{ sidebar.personal.email }}">{{ sidebar.personal.email }}</a>
    </div> 
    {% endif %}
    {% if sidebar.personal.website %}
    <div class="sidebar-item">
        <i class="icon fas fa-globe"></i>
        <a href="https://{{ sidebar.personal.website }}" target="_blank">{{ sidebar.personal.website }}</a>
    </div>
    {% endif %}
    <div class="sidebar-item">
        <i class="icon fas fa-phone"></i>
        
        {% if sidebar.personal.phone %}
        <a href="tel:{{ sidebar.personal.phone }}">{{ sidebar.personal.phone }}</a>
        {% else %}
        Available on request
        {% endif %}
    </div>
    
    {% if sidebar.personal.timezone %}
    <div class="sidebar-item">
        <i class="icon fas fa-clock"></i>
        {{ sidebar.personal.timezone }}
    </div>
    {% endif %}
    {% if sidebar.personal.nationality %}
    <div class="sidebar-item">
        <i class="icon fas fa-passport"></i>
        {{ sidebar.personal.nationality }}
    </div>
    {% endif %}
    {% if sidebar.personal.address %}
    <div class="sidebar-item">
        <i class="icon fas fa-map-marker-alt"></i>
        {{ sidebar.personal.address }}
    </div>
    {% endif %}
    {% assign today = site.time | date: '%s' %}
    {% assign birthday = sidebar.personal.birthdate | date: '%s'  %}
    {% assign secondsSince = today | minus: birthday %}
    {% assign daysSince = secondsSince | divided_by: 3600 | divided_by: 24 %}
    {% assign yearsSince = secondsSince | divided_by: 3600 | divided_by: 24 | divided_by: 365.25 | minus: 0.5 | round %}
    {% if sidebar.personal.birthdate %}
    <div class="sidebar-item">
        <i class="icon fas fa-birthday-cake"></i>
        {{ daysSince }} days
        {{ yearsSince }} years
    </div>
    {% endif %}
</div>
