<div class="sidebar-sub-container">
    <h2 class="container-title">{{sidebar.handles.title}}</h2>
    {% if sidebar.handles.linkedin %}
    <div class="sidebar-item">
        <i class="icon fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/{{ sidebar.handles.linkedin }}" target="_blank">{{ sidebar.handles.linkedin }}</a>
    </div>  
    {% endif %}
    {% if sidebar.handles.github %}
    <div class="sidebar-item">
        <i class="icon fab fa-github"></i>
        <a href="https://github.com/{{ sidebar.handles.github }}" target="_blank">{{ sidebar.handles.github }}</a>
    </div>
    {% endif %}
    {% if sidebar.handles.bitbucket %}
    <div class="sidebar-item">
        <i class="icon fab fa-bitbucket"></i>
        <a href="https://bitbucket.com/{{ sidebar.handles.bitbucket }}" target="_blank">{{ sidebar.handles.bitbucket }}</a>
    </div>
    {% endif %}
    {% if sidebar.handles.stack-overflow %}
    <div class="sidebar-item">
        <i class="icon fab fa-stack-overflow"></i>
        <a href="https://stackoverflow.com/users/{{ sidebar.handles.stack-overflow }}" target="_blank">{{ sidebar.handles.stack-overflow }}</a>
    </div>
    {% endif %}
    {% if sidebar.handles.twitter %}
    <div class="sidebar-item">
        <i class="icon fab fa-twitter"></i>
        <a href="https://twitter.com/{{ sidebar.handles.twitter }}" target="_blank">{{ sidebar.handles.twitter }}</a>
    </div>
    {% endif %}
</div>