{% assign projects = site.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        {{ projects.title }}
    </h2>
    {% if projects.intro %}
    <div class="projects-intro">
        <p>{{ projects.intro }}</p>
    </div>
    {% endif %}
    <div class="project-list">
        {% for project in projects.projects %}
        <div class="project-item">
            {% if project.url %}
            <a target="_blank" href="{{ project.url }}" class="project-title">{{ project.title }}</a>
            {% else %}
            <span class="project-title">{{ project.title }}</span>
            {% endif %}
            <span class="project-description"> - {{ project.description }}</span>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
