{% assign publications = site.data.publications %}
{% if publications %}
<section class="publication-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-book fa-stack-1x fa-inverse"></i>
        </span>
        {{ publications.title }}
    </h2>
    {% if publications.intro %}
    <div class="publications-intro">
        <p>{{ publications.intro }}</p>
    </div>
    {% endif %}
    <div class="paper-list">
        {% for paper in publications.papers %}
        <div class="paper-item">
            {% if paper.url %}
                <a href="{{ paper.url }}"><span class="paper-title">{{ paper.title }}</span></a>
            {% else %}
                <span class="paper-title">{{ paper.title }}</span>
            {% endif %}
            <p class="paper-authors">{{ paper.authors }}</p>
            <p class="paper-description">{{ paper.description }}</p>
            <p class="paper-conference">{{ paper.conference }}</p>
           
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
