
// @media screen and (min-width: 992px){
//     .sidebar-container {
//         margin: 10px;
//     }
// }

@media screen and (max-width: 1024px){
    body {
        margin: 0px;
    }
    .flex-container {
        max-width: 100%;
    }
    
}

@media screen and (max-width: 768px){
    .flex-container {
        flex-direction: column;
        max-width: 100%;
    }
}