---
#Add "layout: compress" here to compress the html code
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include scripts.html %}
    <div class="flex-container">
      {% include sidebar.html %}
      <div class="content-container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}

  </body>
</html>

